<!DOCTYPE html>
<html lang="en">

<head>
  <title>YelpCamp</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container">
      <a class="navbar-brand" href="/">YelpCamp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">        
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/campgrounds">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if(!currentUser) { %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Sign Up</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href=""><i class="fas fa-user"></i> <%= currentUser.username %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/logout">Log Out</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <div id="alertContainer" class="container bg-transparent">
    <% if(error && error.length > 0) { %>
    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
      <%= error %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %>
    <% if(success && success.length > 0) { %>
      <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
        <%= success %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>
  </div>