<% include ../partials/header %>

  <div class="container">
    <h1 class="text-center">Edit Comment
    </h1>
    <div class="row">
      <div class="col">

      </div>
      <div class="col-10 col-sm-7 col-md-6 col-lg-5">
        <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="comment[text]" value="<%= comment.text %>">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
        <a class="btn btn-link btn-block" href="/campgrounds/<%= campground_id %>">Go Back</a>
      </div>
      <div class="col">

      </div>
    </div>

  </div>

  <% include ../partials/footer %>