<% include ./partials/header %>

  <div class="container mt-4">
    <div class="row">
      <div class="col"></div>
      <div class="col-12 col-md-9">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h1 class="text-center">About YelpCamp</h1>
            <h3>What is YelpCamp?</h3>
            <hr>
            <p>
              <strong class="text-danger">YelpCamp</strong> is a campground reviewing website. Users can create their own campgrounds or review others' campgrounds. To get started, simply
              <a href="/register">sign up</a>.
            </p>
            <p>
              This was a project for a web dev course taught by Colt Steele. YelpCamp was created using Node.js, Express, and MongoDB.
            </p>
            <h3>Features</h3>
            <hr>
            <ul>
              <li>Users can create, edit, and remove campgrounds</li>
              <li>Users can review campgrounds once, and edit or remove their review</li>
              <li>User profiles have more information on the user, such as their full name, phone number, join date, campgrounds, and the option to edit their profile or delete their account</li>
              <li>Search campground by name or location</li>
              <li>Sort campgrounds by highest rating, most reviewed, lowest price, or highest price</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <% include ./partials/footer %>