<% include ./partials/header %>

  <div class="container text-center mt-5">
    <h1 class="text-muted">404 error.</h1>
    <h1 class="text-muted">
      <% if (error && error.length > 0) { %>
        <%= error %>
      <% } else { %>
        The page you are looking for doesn't exist.
      <% } %>
    </h1>
    <a class="btn btn-danger btn-lg mt-5" href="/campgrounds">Go Home</a>
  </div>

  <% include ./partials/footer %>