body {
  background-color: #000;
  font-family: 'PT Sans', sans-serif;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 38vh;
}

#landing-header h1 {
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1478131143081-80f7f84ca84d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c43eff2f7cb0c2f6838152683da69f81&auto=format&fit=crop&w=1950&q=80);
}
.slideshow li:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1510672981848-a1c4f1cb5ccf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=12ad75c31d4e110e677b814a6d61066a&auto=format&fit=crop&w=1952&q=80);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1475710534222-6165a8b45449?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=692683df20283d5aa6e2b058be2c000e&auto=format&fit=crop&w=1950&q=80);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(https://images.unsplash.com/photo-1517824806704-9040b037703b?ixlib=rb-0.3.5&s=c7c1b10e7150f7b38fd9b8408e959129&auto=format&fit=crop&w=1950&q=80);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(https://images.unsplash.com/reserve/J3URHssSQyqifuJVcgKu_Wald.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=589423add37e168c0601a481e74569ca&auto=format&fit=crop&w=1950&q=80);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
  opacity: 1;
}
